.header {
  box-sizing: border-box;
  color: #f1f0ee;
  background-color: #f39d19;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center; /* Adicionado para centralizar o logo verticalmente */
  height: 10% /* Adicionado para definir uma altura específica para o cabeçalho */
}


