<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="logo-container">
    <img src="/assets/img/A&A.jpg" alt="Logo da AA Soluções">
  </div>
  <div class="form-group">
    <label for="username">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="username"
      formControlName="username"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      placeholder="E-mail"
    >
    <div class="alert alert-danger" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
      Por favor, insira um e-mail válido.
    </div>
  </div>
  <div class="form-group position-relative">
    <label for="password">Senha</label>
    <div class="input-group">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        class="form-control"
        id="password"
        formControlName="password"
        required
        placeholder="Senha"
      >
      <div class="btn-view-password">
        <button type="button" (click)="togglePasswordVisibility()" class="btn">
          <img *ngIf="hidePassword; else elseBlock" src="/assets/svg/view_off.svg" alt="Mostrar senha">
          <ng-template #elseBlock>
            <img src="/assets/svg/view.svg" alt="Esconder senha">
          </ng-template>
        </button>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [class.disabled]="!loginForm.valid">Entrar</button>
  <div class="link-container">
    <div class="form-group">
      <a routerLink="/register">Não tem uma conta Cadastrar-se</a>
    </div>
    <div class="form-group">
      <a routerLink="/forgot-password">Esqueceu a senha?</a>
    </div>
  </div>
</form>
