<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="username"
      formControlName="username"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      placeholder="E-mail"
    >
    <div class="alert alert-danger" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
      Por favor, insira um e-mail válido.
    </div>
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      required
      placeholder="Senha"
    >
  </div>
  <button type="submit" class="btn btn-primary" [class.disabled]="!loginForm.valid">Entrar</button>
  <div class="link-container">
    <div class="form-group">
      <a routerLink="/register">Não tem uma conta Cadastrar-se</a>
    </div>
    <div class="form-group">
      <a routerLink="/forgot-password">Esqueci minha senha</a>
    </div>
  </div>
</form>
