


form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.button-container .btn {
  margin: 0 10px; /* Adiciona uma margem de 10px à esquerda e à direita de cada botão */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field > * {
  flex: 0 0 50%;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.alert {
  color: #dc3545; /* cor vermelha */
  font-size: 12px; /* tamanho pequeno */
  margin-top: 5px; /* espaço acima do texto */
}

.form-group .btn {
  margin: 0 10px; /* Adiciona uma margem de 10px à esquerda e à direita de cada botão */
}
