<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text">
    <p>RECUPERAR SENHA</p>
  </div>
  <div class="form-group">
    <label for="username">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="username"
      formControlName="username"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      placeholder="E-mail"
    >
    <div class="alert alert-danger" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
      Por favor, insira um e-mail válido.
    </div>
  </div>
  <div class="button-container">
    <button type="button" class="btn btn-secondary" (click)="onBack()">Voltar</button>

    <button type="submit" class="btn btn-primary" [class.disabled]="!form.valid">Recuperar</button>

  </div>

</form>
