<!-- cadastros.component.html -->

<app-side-menu></app-side-menu>

<div class="container">
  <div class="row">
    <div class="col-sm item">
      <a routerLink="/clientes">
        <i class="fas fa-user"></i>
        <p>Clientes</p>
      </a>
    </div>
    <div class="col-sm item">
      <i class="fas fa-laptop"></i>
      <p>Equipamentos</p>
    </div>
    <div class="col-sm item">
      <i class="fas fa-box-open"></i>
      <p>Produtos</p>
    </div>
    <div class="col-sm item">
      <i class="fas fa-cogs"></i>
      <p>Peças</p>
    </div>
  </div>
</div>
