.btn.btn-primary {
  background-color: #f39d19;
  border: 1px solid #f39d19;
  color: white;
  cursor: pointer;
}

.btn.btn-primary:hover {
  background-color: #DD371D;
}

.btn.btn-secondary:hover {
  background-color: #DD371D;
}

.btn.btn-primary.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn.btn-secondary {
  background-color: #A1AEB1;
  border: 1px solid #A1AEB1;
  color: white;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* styles.css */

a {
  color: inherit; /* herda a cor do texto do elemento pai */
  text-decoration: none; /* remove o sublinhado */
}

a:hover {
  color: inherit; /* mantém a cor do texto ao passar o mouse */
  text-decoration: underline; /* adiciona sublinhado ao passar o mouse */
}
